extends ../layout/main

block variables
  -var pageTitle = 'about'


block content
  h1 tytyt1223 yyyyyyyyxeer
  #container.col
    svg
      use(xlink:href="#youtube")
    p You are 
    p
      | Pug is a terse and simple
      | templating language with a
      | strong focus on performance
      | and powerful features.!