extends ../layout/main


	
block meta
	title Do index
	meta(name='description', content='')
block head
	link(rel='stylesheet', href='assets/css/app.css')
block scripts
	script(src='assets/js/app.js')

	//-   link(rel='stylesheet', href='css/some.css'
	
block content
	p after header
	.container
		.row
			for i in arr
				+testCard(i.link, i.src, i.title, i.decr)
block footer
	footer
		h2 я footer ёпть
block header
	header
		h2 я heder ёпть
