extends ../layout/main


 
block meta
	title Do index
	meta(name='description', content='')

block head
	each css in htmlWebpackPlugin.files.css
		link(rel='stylesheet', href=css)
block scripts
	script(type='text/javascript', src=htmlWebpackPlugin.files.js[0])
	script(type='text/javascript', src=htmlWebpackPlugin.files.js[1])
	//script(type='text/javascript', src=htmlWebpackPlugin.files.js[1])
	
block content
	p after header
	.container
		.row
			for i in arrPage2
				+testCard(i.link, i.src, i.title, i.decr)
block footer
	footer
		h2 я footer ёпть
block header
	header
		h2 я heder второй стр. ёпть!
