<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>

<body>
  <h1>webpaack1!</h1>
  <div id="root"></div>

  <section class="nature">
    <div class="container">
      <div class="productItems">
        <a href='js.html' class="productItem">
          <img src="./assets/img/img-1.jpg" alt="Фото-1" class="productItem__img">
          <!-- /.productItem__img -->
          <h4 class="productItem__title">Йога</h4>
          <!-- /.productItem__title -->
          <p class="productItem__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem officiis ab aut
            excepturi qui et quam tempora mollitia natus.</p>
          <!-- /.productItem__descr -->
        </a>
        <!-- /.productItem -->
      </div>
      <!-- /.productItems -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.nature -->
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</body>

</html>