// libraries
@import 'libs';

// assets
@import 'assets/smart-grid';  // mixins smartgrid.js
@import 'assets/vars';  // переменные
@import 'assets/mixins';  // миксины
@import 'assets/fonts';  // шрифты
@import 'assets/base';  // общие стили
@import 'assets/animation';  // анимации
@import 'assets/class'; // main style
@import 'assets/interface'; // main style


// sass dima
@import 'header';
@import 'footer';
@import '404';


body{
 background: pink url('../img/bg.jpg') no-repeat center;
 background-size: cover;
}

.row{
	 @include row-flex();
	 justify-content: space-around;
}
	
.card-item {
  @include col();
  @include size(4);
  @include size-md(6);
  @include size-xs(12);

  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  &__title{
   margin-bottom: 10px;
   font-size: 24px;
   font-weight: bold;
   text-align: center;
	}
	&__img{
		min-height: 410px;
		object-fit: contain;
	}
}

.page__inner{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .page__content{
    flex-grow: 1;
  }
  .page__footer-wrapper{
    flex-shrink: 0;
  }
}
header,footer{
    color: #fff;
    background-color: #000;
    text-align: center;
}